<ion-content>
  <h1>Interpolação</h1>
  <p>o nome do aluno é: {{nome}}</p>
  <p>ano que vem, ele tera: {{idade+1}} anos</p>
</ion-content>
<ion-content>
  <h1>Proprerty Biding</h1>
  <p [style.background] =  "cor">ernuernhbuerire</p>
</ion-content>

<ion-content>
  <h1>Event Biding</h1>
  <ion-button (click) = "texto()">clica</ion-button>
</ion-content>
<ion-content>
  <p>{{guardaTexto}}</p>
  <input type="text" #frase (keyup.enter)="escreve(frase.value)">
</ion-content>

<ion-content>
  <select (change) = "modo(valor.value)" #valor>
    <option value="'dark">escuro</option>
    <option value="'light">escuro</option>
  </select>
</ion-content>
